<!--Include header-->
<% include partials/header %>

<div class="ui main text container">
    <h1 class="ui header">Welcome to the Confidence Men Homepage</h1>
    
    <a href="/picks">Make Your Picks</a>
    
    <a href="/standings">View League Standings</a>

</div>


<% include partials/footer %>

<!--Include footer-->