<!DOCTYPE html>
<html>
    <head>
        <title>Confidence Men</title>
        <!--CSS-->
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/nfl.css">
        <!--Scripts-->
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.1.min.js"></script> 
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.js"></script>
        
        
        
    </head>
    <body>
        <div class="ui fixed inverted menu">
            <div class="ui container">
                <div class="header item"><i class="trophy icon"></i>Confidence Men</div>
                <a href="/" class="item">Home</a>
                <a href="/picks" class="item">Picks</a>
                <a href="/standings" class="item">Standings</a>
            </div>
        </div>
        
        <!-- Content!!! -->
    